<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/insertData" method="post" enctype="multipart/form-data">
      <input type="text" name="username" placeholder="username" />
      <input type="password" name="password" placeholder="password" />
      <input type="file" name="image" />
      <input type="submit" />
    </form>

    <table border="1">
      <tr>
        <th>USERNAME</th>
        <th>PASSWORD</th>
        <th>IMG</th>
      </tr>

      <% data.map((el,i)=>{%>
      <tr>
        <td><%= el.username%></td>
        <td><%= el.password%></td>
        <td><img src="<%= el.image %>" alt="" height="100px" width="100px"></td>
        <td><a href="/delete?id=<%= el.id%>">Delete</a></td>
        <td><a href="/edit?id=<%= el.id%>">Edit</a></td>
      </tr>
      <%})%>
    </table>
  </body>
</html>
